    <div class="error">
        {{mensajes}}
    </div>
    <footer>
        <div class="container fh">
            <div class="row f90">
                <div class="col-md-4 fh">
                    
                </div>
                <div class="col-md-4 fh">
                    
                </div>
                <div class="col-md-4 fh">
                    
                </div>
            </div>
            <div class="col-md-12 f10">
                <p class="center">By Lopez</p>
            </div>
        </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/animation/menu.js"></script>
</body>
</html>