<section class="flex">
    <div class="login">
        <form action="user/login" method="post">
            <h1>Iniciar Sesión</h1>
            <input type="text" name="login" placeholder="email o usuario"/><br>
            <input type="password" name="pass" placeholder="contraseña"/><br>
            <input type="submit" value="Submit"/>
            <p>¿No tienes cuenta? <a href="user/register">Registrate</a></p>
        </form>
    </div>
</section>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
