<section class="flex">
    <div class="login">
        <form action="perfil/add_perfil" method="post">
            <h1>Nuevo Perfil</h1>
            <input type="text" name="name" placeholder="¿Cómo te llamas?"/><br>
            <input type="text" name="surname" placeholder="¿Cuáles son tus apellidos?"/><br>
            <input type="date" name="birthday" placeholder="¿Cuando naciste?"/><br>
            <select name="sex">
                <option>Hombre</option>
                <option>Mujer</option>
                <option>Otros</option>
            </select><br>
            <input type="checkbox" value="1" name="terms"/>He leido los <a href="index/terminos">terminos y condiciones</a><br>
            <input type="submit" value="Enviar"/>
        </form>
    </div>
</section>