<section>
    <div class="flex">
        <div class="selectProfile" id="profiles">
            <!--<div class="profileCard">
                <div class="headerCard flex">
                    <img src="profiles/m0"/>
                </div>
                <div class="bodyCard flex">
                    Jose Antonio Lopez Lopez
                </div>
                <div class="footerCard flex">
                    <a href="#">Iniciar Sesion</a>
                </div>
            </div>-->
            <div class="profileCard">
                <div class="headerCard flex">
                    <img src="profiles/n"/>
                </div>
                <div class="bodyCard flex">
                    
                </div>
                <div class="footerCard flex">
                    <a href="perfil/nuevo">Crear nuevo perfil</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<script type="text/javascript" src="js/ajax/getProfiles.js"></script>